<div>
  <table class="table">
    <thead>
      <th scope="col">#</th>
      <th scope="col">service</th>
      <th scope="col">price</th>
    </thead>
    <tbody>

      {{#each invoices as |invoice|}}
      <tr data-id="{{invoice.id}}">
        <th scope="row">{{invoice.invoice_id}}</th>
        <td>{{this.service}}</td>
        <td>{{this.price}}</td>
        <td><button data-id="{{invoice.id}}" class="btn btn-info edit">edit</button>
        <button data-id="{{invoice.id}}" class="btn btn-danger delete">delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>